@import "tailwindcss";

body::selection {
  color: #fff;
  background: #6000cd;
}

.parallax-bg {
  background-image: url("/images/mission.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-offering:first-child {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card-offering:first-child:only-child {
  border-radius: 16px;
}

.card-offering:last-child {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.scroll-to-top-wrapper {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 30;
}

@keyframes fade-button {
  0% {
    background-color: transparent;
    color: #9b51e0;
  }
  100% {
    background-color: #9b51e0;
    color: white;
  }
}

@keyframes fade-out-button {
  0% {
    background-color: #6000cd;
  }
  100% {
    background-color: #9b51e0;
  }
}

@keyframes fade-link {
  0% {
    color: #000;
  }
  100% {
    color: #9b51e0;
  }
}

@media (min-width: 1024px) {
  .card-offering:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  .card-offering:first-child:only-child {
    border-radius: 16px;
  }

  .card-offering:last-child {
    border-bottom-left-radius: 0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
